# dependencies
node_modules/
**/node_modules/

# builds
.next/
**/.next/
dist/
**/dist/
out/
build/

# env / secrets
.env
.env*.local
**/.env
**/.env*.local
!**/.env.example

# database
*.db
*.db-journal
**/*.db
**/*.db-journal

# prisma generated
**/generated/

# logs / os
*.log
.DS_Store
.tsbuildinfo
**/.tsbuildinfo
next-env.d.ts
**/next-env.d.ts
